
body {
	background-image: url("../res/adiass.jpg" );
	background-size: cover;
}

h1 {
	font-size: 80px;
	text-align: center;
	color: blue;
}

h2 {
	font-size: 80px;
	text-align: center;
	color: blue;
}
